LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/README
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/am/final.mdl
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/conf/mfcc.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/conf/model.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/graph/disambig_tid.int
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/graph/Gr.fst
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/graph/HCLr.fst
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/graph/phones/word_boundary.int
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/final.dubm
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/final.ie
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/final.mat
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/global_cmvn.stats
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/online_cmvn.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/vosk-model-small-fr-0.22/ivector/splice.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libgcc_s_seh-1.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libmp3lame.32.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libmp3lame.64.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libstdc++-6.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libvosk.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/libwinpthread-1.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/LivreAudioDontVousEtesLeHeros.exe
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/LivreAudioDontVousEtesLeHeros.exe.config
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/LivreAudioDontVousEtesLeHeros.pdb
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.core.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.csharp.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.csharp.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.extension.audio.sys.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.extension.codec.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.extension.kws.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.extension.lu.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.CognitiveServices.Speech.extension.mas.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.Win32.Registry.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Microsoft.Win32.Registry.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Asio.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Core.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Lame.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Lame.pdb
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Midi.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.Wasapi.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.WinForms.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.WinMM.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/NAudio.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Newtonsoft.Json.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Newtonsoft.Json.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/System.Security.AccessControl.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/System.Security.AccessControl.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/System.Security.Principal.Windows.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/System.Security.Principal.Windows.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.Common.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.Common.Net.Http.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.Common.Net.Http.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.Common.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.OpenAI.Client.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Universal.OpenAI.Client.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/Vosk.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_0_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_1_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_10_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_11_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_12_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_13_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_14_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_15_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_16_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_17_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_18_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_19_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_2_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_20_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_3_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_4_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_5_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_6_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_7_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_8_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Il_vous_reste_9_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Veuillez_glisser_et_déposer_le_début_de_votre_histoire_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Veuillez_glisser_et_déposer_un_livre_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Votre_fichier_livre_n_a_pas_été_trouvé_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Vous_avez_gagné__félicitation_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Debug/CacheAudio/Vous_avez_perdu_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libgcc_s_seh-1.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libmp3lame.32.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libmp3lame.64.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libstdc++-6.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libvosk.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/libwinpthread-1.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/LivreAudioDontVousEtesLeHeros.exe
LivreAudioDontVousEtesLeHeros/bin/x64/Release/LivreAudioDontVousEtesLeHeros.exe.config
LivreAudioDontVousEtesLeHeros/bin/x64/Release/LivreAudioDontVousEtesLeHeros.pdb
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.core.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.csharp.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.csharp.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.extension.audio.sys.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.extension.codec.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.extension.kws.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.extension.lu.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.CognitiveServices.Speech.extension.mas.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.Win32.Registry.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Microsoft.Win32.Registry.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Asio.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Core.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Lame.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Lame.pdb
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Midi.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.Wasapi.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.WinForms.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.WinMM.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/NAudio.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Release/System.Security.AccessControl.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/System.Security.AccessControl.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Release/System.Security.Principal.Windows.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/System.Security.Principal.Windows.xml
LivreAudioDontVousEtesLeHeros/bin/x64/Release/Vosk.dll
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_0_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_1_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_10_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_11_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_12_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_13_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_14_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_15_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_16_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_17_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_18_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_19_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_2_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_20_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_3_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_4_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_5_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_6_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_7_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_8_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Il_vous_reste_9_vie_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Veuillez_glisser_et_déposer_un_livre_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Votre_fichier_livre_n_a_pas_été_trouvé_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Vous_avez_gagné__félicitation_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/CacheAudio/Vous_avez_perdu_.mp3
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/README
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/am/final.mdl
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/conf/mfcc.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/conf/model.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/graph/disambig_tid.int
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/graph/Gr.fst
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/graph/HCLr.fst
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/graph/phones/word_boundary.int
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/final.dubm
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/final.ie
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/final.mat
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/global_cmvn.stats
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/online_cmvn.conf
LivreAudioDontVousEtesLeHeros/bin/x64/Release/vosk-model-small-fr-0.22/ivector/splice.conf
packages/
